Protocol 2
Port 22
PubkeyAuthentication yes
PasswordAuthentication no
AllowTcpForwarding yes
X11Forwarding yes
PrintMotd no
IgnoreUserKnownHosts yes
PermitRootLogin no
PermitEmptyPasswords no
HostKey /home/.sshkeys/ssh_host_ed25519_key
HostKey /home/.sshkeys/ssh_host_ecdsa_key
HostKey /home/.sshkeys/ssh_host_rsa_key
